/* this is for cart.js style  */
.cart{
    position: sticky;
    top: 70px;
    margin: 0 auto;
    width: 290px;
    height: 80vh;
    border: 1px solid gray;
    border-radius: 10px;
}
.cart h3{
    margin-top: 5px;
    text-align: center;
}
.random-book-name{
    text-align: center;
}

/* cart button section work start from here */
.btn-group{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-random, .btn-clear{
    width: 160px;
    background-color: red;
    border: 1px solid gray;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
}
.btn-random:active{
    background-color: rgb(180, 0, 0);
}
.btn-clear{
    background-color: rgba(255, 166, 0, 0.747);
    color: black;

}
.btn-clear:active{
    background-color: rgba(175, 114, 0, 0.747);
}

/* responsive design start from here * */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .cart{
        width: 350px;
        margin: 50px auto;
        position: static;
    }
    .cart h3{
        margin-top: 25px;
    }
    .cart:nth-of-type(2) { order: 1;}
}