/* this style for books.js  */
.all-books{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}


/* responsive design  */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .all-books{
        grid-template-columns: repeat(2,1fr);
    }
    .all-books:nth-of-type(1) { order: 2;}
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .all-books{
        grid-template-columns: 1fr;
    }
}